.wrapper {
    max-width: 40%;
    margin: 10px auto;
    max-height: 70%;
}
.enabled {
    display: block;
}
.disabled {
    display: none;
}
.a {
    color: var(--primary);
    transition: all 0.3s;
}
.a:hover {
    color: var(--primary-dark);
}
.container {
    background-color: var(--white);
    margin: 30px auto 0 auto;
    padding: 40px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.more {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p {
    font-weight: 700;
}
.toMain {
    font-weight: 500;
    color: var(--primary);
    transition: 0.3s all;
}
.toMain:hover {
    color: var(--primary-dark);
}
.register {
    font-weight: 500;
    color: var(--primary);
    transition: 0.3s all;
}
.register:hover {
    color: var(--primary-dark);
}

.h {
    text-align: center;
}