.link {
    font-size: 18px;
    color: var(--black);
    opacity: 70%;
    background-color: var(--white);
    border-bottom: 5px solid transparent;
    padding-bottom: 20px;
    transition: 0.3s all;
}

.link:hover {
    opacity: 100%;
    color: var(--primary-light);
    border-bottom: 5px solid var(--primary-light);
}
.activeLink {
    opacity: 100%;
    color: var(--primary);
    border-bottom: 5px solid var(--primary);
}